# Ignorar pastas geradas automaticamente
outputs/
*_genoma/
__pycache__/

# Ignorar arquivos temporários
*.zip
*.xlsx~
*.fasta~
*.fa~
*.tsv~
*.csv~
*.log

# Ignorar arquivos sensíveis
.env

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

Input/bancodedados.dmnd
Input/viral.1.protein.faa
Input/ICTV_Master_Species_List_2022_MSL38.v2 (1).xlsx

