# Ignorar pastas geradas automaticamente
outputs/
*_genoma/
__pycache__/

# Ignorar arquivos temporários
*.zip
*.xlsx~
*.fasta~
*.fa~
*.tsv~
*.csv~
*.log

# Ignorar arquivos sensíveis
.env

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
Genomas
Input/bancodedados.dmnd
Input/viral.1.protein.faa

server

